<%= form_with(model: registration, local: true) do |form| %>
<div class="form">

  <div class="field">
    <label for="registration_name">Nome</label>
    <%= form.text_field :name, id: :registration_name, placeholder: 'Nome completo', class: 'text_area' %>
  </div>

  <div class="field">
    <label for="registration_email">Email</label>
    <%= form.text_field :email, id: :registration_email, placeholder: 'Seu email', class: 'text_area' %>
  </div>

  <div class="field">
    <label for="registration_cpf">CPF</label>
    <%= form.text_field :cpf, id: :registration_cpf, placeholder: 'XXX.XXX.XXX-XX', class: 'text_area' %>
  </div>

  <div class="field">
    <label for="registration_grr">GRR</label>
    <%= form.text_field :grr, id: :registration_grr, placeholder: 'GRRXXXXXXXX', class: 'text_area' %>
  </div>


  <div class="field">
    <label for="registration_turn">Turno</label>
    <%= form.select :turn, options_for_select(turns, ""), {}, class: 'select medium-select' %>
  </div>

  <div class="actions submit-mobile p-0">
    <%= form.submit "Enviar", class: "submit" %>
  </div>

</div>
<% end %>
<%= link_to registrations_path do %>
  <i data-feather="arrow-left" class="bigger-icon">Voltar</i>
<% end %>
