<div class="name-badge">
  <span> <%= @participant.name %> </span>
</div>
<h1 class="text-center pb-50">Selecione o curso para inscrição</h1>

<%= form_with(model: @participant, url: { action: "add_course_to_participant" }, method: 'post') do |form| %>
<div class="form animated fadeIn">
  <%= hidden_field_tag 'id', @participant.id %>
  <div class="field">
    <label for="registration_course">Curso</label>
    <%= form.select :course, options_from_collection_for_select(courses_with_vacancies, 'id', 'name' ""), {}, id: 'select_courses' , class: 'select bigger-select' %>
  </div>
  <h2 class="text-center">Informações</h2>
  <div id="course-info">

  </div>
  <div class="actions submit-mobile p-0">
    <%= form.submit "Inscrever-se", class: "submit" %>
  </div>
</div>
<% end %>
<%= link_to registration_courses_path do %>
<i data-feather="arrow-left" class="bigger-icon"></i>
<% end %>

<script type="text/javascript">
  function loadDoc() {
    let xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          course = JSON.parse(this.responseText);
          document.getElementById("course-info").innerHTML = `<div class='field'><label>Descrição</label><div class='field-input text_area animated fadeIn'>${course.name}</div></div>`;
          document.getElementById("course-info").innerHTML += `<div class='field'><label>Palestrante</label><div class='field-input text_area animated fadeIn'>${course.speaker}</div></div>`;
          document.getElementById("course-info").innerHTML += `<div class='field'><label>Horário</label><div class='field-input text_area animated fadeIn'>${course.schedule}</div></div>`;
          document.getElementById("course-info").innerHTML += `<div class='field'><label>Carga horária</label><div class='field-input text_area animated fadeIn'>${course.time_load}</div></div>`;
          document.getElementById("course-info").innerHTML += `<div class='field'><label>Vagas</label><div class='field-input text_area animated fadeIn'>${course.vacancies}</div></div>`;
       }
    };
    xhttp.open("GET", `api/v1/cursos/${select.options[select.selectedIndex].value}`, true);
    xhttp.send();
  }

  let select = document.getElementById("select_courses");
  loadDoc();
  select.addEventListener("change", () => {
    loadDoc();
  });
</script>
