<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @registration.name %>
</p>

<p>
  <strong>Grr:</strong>
  <%= @registration.grr %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @registration.cpf %>
</p>

<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
